<!DOCTYPE html>
<html ng-app='instagramSearcher'>
<head>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<link rel="stylesheet" href="css/instragramSearcher.css">

	<link rel="stylesheet" href="css/instragramSearcherAnimations.css">

</head>
<body>

	<div class="container">

		<div class="row logoHeader">

			<div class="col-md-12">
		
				<img class="logoImage" src="images/ng-instagram.png" alt="">

			</div>

		</div>

		<div class="row instagramSearchBar" ng-controller="instaSearchCtrl">
				
			<form name="instaForm" class="instaForm col-md-12" ng-submit="instagramSearch(keyword)" novalidate>
					
				<input type="text" placeholder="Enter a tag to search" ng-model="keyword" ng-required="true">

				<input type="submit">

			<p class="submission invalid" ng-if="submitted && instaForm.$invalid">Please enter a search term</p>

			<p class="valid" ng-if="submitted && instaForm.$valid">Searching Instagram for photos tagged with "{{ keyword }}"</p>

			<p class="submission invalid" ng-if="error">It looks as though we couldn't reach Instagram please check if your network connection and try again</p>

			</form>

		</div>

		<div class="row instagramSearchResults" ng-controller="instaResultsCtrl">

			<p class="results" ng-if="keyword">showing {{ results.length }} for {{ keyword }}</p>
			
			<div class="col-md-4 instaImageWrapper" ng-repeat="result in results">
			
				<a ng-href="{{ result.link }}" target="_blank"><img ng-src="{{ result.images.low_resolution.url }}" ></a>

			</div>

		</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-animate.min.js"></script>

	<script src="js/instragramSearcher.js"></script>

</body>
</html>